<table>
    <thead>
        <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="fit">1</td>
            <td>Oncologia</td>
            <td>
                <a href="javascript:void(0)" class="botao">Editar</a>
                <a href="javascript:void(0)" class="botao excluir">Excluir</a>
            </td>
        </tr>
        <tr>
            <td class="fit">2</td>
            <td>Geriatria</td>
            <td>
                <a href="javascript:void(0)" class="botao">Editar</a>
                <a href="javascript:void(0)" class="botao excluir">Excluir</a>
            </td>
        </tr>
        <tr>
            <td class="fit">3</td>
            <td>Dermatologia</td>
            <td>
                <a href="javascript:void(0)" class="botao">Editar</a>
                <a href="javascript:void(0)" class="botao excluir">Excluir</a>
            </td>
        </tr>
        <tr>
            <td class="fit">4</td>
            <td>Cardiologia</td>
            <td>
                <a href="javascript:void(0)" class="botao">Editar</a>
                <a href="javascript:void(0)" class="botao excluir">Excluir</a>
            </td>
        </tr>
        <tr>
            <td class="fit">5</td>
            <td>Pediatria</td>
            <td>
                <a href="javascript:void(0)" class="botao">Editar</a>
                <a href="javascript:void(0)" class="botao excluir">Excluir</a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">Total de registros: 57</td>
        </tr>
    </tfoot>
</table>
