<div id="comandos">
    <a href="javascript:void(0)"
       class="botao oculto"
       id="add">
        Adicionar
    </a>
    <div>
        <label for="busca">Busca</label>
        <input type="search" name="busca" id="busca"
               placeholder="Digite para buscar">
    </div>
</div>
<table>
    <thead>
        <tr>
            <th>Data</th>
            <th>Hora</th>
            <th>Paciente</th>
            <th>Profissional</th>
            <th>Unidade</th>
            <th>Convênio</th>
            <th>Atendimento</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of registros">
            <td class="fit">{{item.data | date:'dd/MM/yyyy'}}</td>
            <td class="fit">{{item.hora | slice:0:5}}</td>
            <td>{{ item.paciente.nome }}</td>
            <td>{{ item.profissional.nome}}</td>
            <td>{{ item.profissional.unidade.nome}}</td>
            <td>{{ item.convenio? item.convenio.nome: "Sem convênio" }}</td>
            <td>
                <a  class="botao iniciar inativo"
                [ngClass]="{'inativo': item.status == 'ATENDIMENTO'}">Iniciar</a>
                <a  class="botao finalizar excluir"
                [ngClass]="{'inativo': item.status == 'CHEGADA'}">Finalizar</a>
            </td>
        </tr>
    </tbody>
    <tfoot>
        <tr>
            <td colspan="7">Total de registros: 5</td>
        </tr>
    </tfoot>
</table>